.progress{
    width:30%;
    border:1px solid black;
    border-radius: 8px;
    height: 30px;
    position: relative;

}
.progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.progress div{
    height: 100%;
    background-color: green;
    border-radius: 8px;
}